{% extends 'base.html' %}

{% block content %}
	<h1> Conscientiousness test </h1>
	<form action="/userprofile/" method="post">{% csrf_token %}
	    <input type="hidden" name="username" value="{{username}}"/>
	    <input type="hidden" name="password" value="{{password}}"/>
	    <input type="submit" value="Return to Profile"/>
  	</form>
  	<p style="font-style:italic">The test was taken from https://www.psychologistworld.com/influence-personality/five-factor-test/test</p>
  		<div>Please enter your answer to these questions with 5 being strongly agree and 1 being strongly disagree</div>
	<form action="/updateattribute/" method="post">{% csrf_token %}
  <input type="hidden" name="username" value="{{username}}"/>
	<input type="hidden" name="password" value="{{password}}"/>
	<input type="hidden" name="attribute" value="conscientiousness"/>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you pay attention to details?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="q1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you follow through with plans?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="q2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you feel like you cannot leave tasks unfinished?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="q3">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you find it easy to have motivation to do activties?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="q4">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Are you a perfectionist?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="q5">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you like abstract ideas?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="q6">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do get your chores done ASAP?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="q7">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you make plans and stick to them?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="q8">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Do you finish what you start?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="q9">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Would you say that you are well-mannered?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="q10">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
    <input type="submit"/>

  </form>
</body>
{% endblock %}